/*
COLORS:

6cf, turkis, the color of the writing in the heading
*/

body {
  #background-color: #aac;
  #background-color: #7b0f32;
  background-color: #4b7f92;
  font-family: Verdana;
}

#header {
  position: relative;
  left: 200px;
  width: 700px;
  background-color: black;
  height: 110px;
  width: 700px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 3px #6cf solid;
}

.header_heading {
  color: #6cf; 
  #color: #4b7f92; 
  text-align: center; 
  margin: 4px; 
  font-family: Verdana; 
  font-size: 30pt;
}

.menuitem {
  margin: 0px 10px 10px 10px;
  padding: 5px;
  background-color: #6cf;
  border: 1px black solid;
  display: inline-block;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 5px;
}

.btn {
  margin: 2px;
  padding: 3px;
  background-color: #6cf;
  border: 1px black solid;
  display: inline-block;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.menuitem:visited { color: black; }

#content {
  position: relative;
  left: 200px;
  width: 700px;
}

.bordered td, .bordered th {
  border: 1px black solid;
}

.border {
  border-collapse: collapse;
}

.parameter {
  background-color: white;
  margin: 15px;

  background-color: #4b7f92;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 3px #6cf solid;

  display: inline-block;
}


#debugdiv {
  display: none;
  background-color: #ccc;
  
}

.debug_p {
  border-bottom: 1px black solid;
  margin: 10px;
}

.neg_p, .pos_p {
  margin: 3px;
}

.tagstable th, .tagstable td {
  border: 1px black solid;
}

.tagstable {
  border-collapse: collapse;
  margin: 10px;
}

.negative_input {
  background-color: #fcc;
}

.positive_input {
  background-color: #cfc;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #400;
}

a:hover {
  text-decoration: underline;
}

.summary_table {
  border-collapse: collapse;
}

.st_bar {
  border-top: 1px black solid;
  padding: 2px;
  vertical-align: top;
}

.summary_curtain th, .summary_curtain td, {
  border-top: none;
  padding: 2px;
}

.summary_table th {
  text-align: left;
}

.tag_neg {
  white-space: nowrap;
  background-color: #faa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px #a44 solid;
  padding: 0px 2px;
  display: inline-block;
  font-size: 9pt;
}

.tag_pos {
  white-space: nowrap;
  background-color: #afa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px #4a4 solid;
  padding: 0px 2px;
  display: inline-block;
  font-size: 9pt;
}

/* SUMMARY TABLE COLUMNS */
.st_c1 { width: 150px; }
.st_c2 { width: 100px; }
.st_c3 { width: 200px; }
.st_c4 { width: 200px; }

/* for some reasons it does not work without the "th." prefix */
th.st_c1, td.st_c2, td.st_c3, td.st_c4 { 
  visibility: hidden;
  border-bottom: 1px black solid;
}

.taginput {
  border: 1px #ccc solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 100px;
}
.tagsubmit {
  border: 1px #ccc solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 20px;
}

.scoresubmit {
  border: 1px #ccc solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 26px;
}

.scoreselect {
  border: 1px #ccc solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 45px;
}

.tinybtn {
  font-size: 7pt;
  font-weight: normal;
}

#addParameterDiv {
  display: none;
}

#searchdiv {
  width: 100%;
}

.discrete_link, .discrete_link:visited, .discrete_link:active, .discrete_link:hover {
  #font-size: 8pt;
  font-weight: normal;
  color: black;
  
}

#searchformtable td {
  padding: 0px;
  text-align: center;
}

#headertable {
  color: #6cf;
  font-size: 8pt;
}

#headertable td {
  padding: 0px;
}


#small_login_form input {
  width: 75px;
  border: 1px black solid;
  font-size: 9pt;
  margin: 0px;
}

#spacing_div {
  margin: 40px;
}

th {
  font-weight: normal;
  text-align: left;
}

#new_product_img_div {
  border: 3px black solid;
  border-radius: 12px;
  -moz-border-radius: 12px;
  height: 160px;
  width: 160px;
  text-align: center;
  display: inline-block;
}

#rating {
  display: inline-block;
  font-size: 8pt;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 3px black solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

#rating_inside {
  display: block;
  margin: auto;
  font-size: 24px;
}

#category_parameter_list {
  border-collapse: collapse;
  margin-left: 20px;
}

#category_parameter_list th {
  font-weight: bold;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 5px 15px;
}

#category_parameter_list td {
  border-bottom: 1px black solid;
  padding: 5px 15px;
}





