<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> {% block title %} SemRate {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel='stylesheet' type='text/css' href='/site_media/style.css'/>
<script type="text/javascript" src="/site_media/jquery-1.7.min.js"></script>
<script type="text/javascript">

function debug(s) {
  $('#debugdiv').append('<p class="debug_p">' + s + '</p>')
};

function init() {
  debug('hello world');
};

function dir(obj) {
  s = '';
  for(var key in obj) {
      s = s + ', ' + key + '\n';
  }
  return s;
}

$(init);

</script>
</head>
<body>
{% block body %}

<div id='header'>
<h1 class='header_heading'> SemRate </h1>
<a class='menuitem' href='/'>home</a>
<a class='menuitem' href='/newproduct'>newproduct</a>
</div>

<div id='content'>
{% block content %}
{% endblock %}
</div>

<div id='debugdiv'>
</div>
{{ MEDIA_URL }}
{{ MEDIA_ROOT }}
{% endblock %}

<script src="/site_media/js/facebook.js" type="text/javascript"></script>
    <script>
    facebookAppId = '{{ FACEBOOK_APP_ID }}';
    function facebookJSLoaded(){
    FB.init({appId: facebookAppId, status: false, cookie: true, xfbml: true, oauth: true});
    }
    window.fbAsyncInit = facebookJSLoaded;
    F = new facebookClass(facebookAppId);
    F.load();
</script>
<center>
<div style="width:300px; background-color: white; border: solid blue; ">
<form action="{% url facebook_connect %}?facebook_login=1" method="post">
	<input type="hidden" value="{{ request.path }}" name="next" />

	<!--
	use error next for a seperate error page
	<input type="hidden" value="/error/" name="error_next" />
	-->

	<iframe src="http://www.facebook.com/plugins/facepile.php?app_id={{ FACEBOOK_APP_ID }}&amp;width=500&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:80px;" allowTransparency="true"></iframe>
	<input type="image" src="http://e.fashiocdn.com/images/b_signin_facebook_small.png" />
</form>
</div>
</center>

</body>
</html>
