{% extends 'base.html' %}
{% block title%} SemRate - {{product.name}} {% endblock %}

{% block content %}

<script type="text/javascript">

function createParameter() {
  //$('parameterform').serialize()
  data = $("#parameterform").serialize();
  alert(data);
  debug('test');
  $.post("/ajax_createparameter", data, function(data) { debug(data); } );
}


//http://stackoverflow.com/questions/6179215/jquery-determine-name-id-of-form-on-submit
function submit_tag(e) {
  debug('#'+e.target.id);  
  var form = $('#'+e.target.id);
  var s = form.serialize();
  $.post("/ajax_createtag", s, function(data) { debug(data); } );
  taglist = '#'+e.target.id.substr(0,e.target.id.length)

  var formDict = formToDict(form);

  s = form.attr('id')
  name = s.substr(0,s.length-4); // + '_taglist_neg';
  charge = s.substr(s.length-3, s.length); // + '_taglist_neg';

  var val = formDict.tagtext;
  $('#'+name+'_taglist_' + charge).append(" <span class='tag_"+charge+"'>" + val + "</span>");

  //http://stackoverflow.com/questions/680241/resetting-a-multi-stage-form-with-jquery
  $(':input',form).not(':button, :submit, :reset, :hidden').val('');

  return false;
}

function localinit() {
  //$('.negative_input').keypress(addTag);
  $('.no_submit').submit(submit_tag);
  debug('localinit');
}

function toggleCurtain(name) {
  //$('#'+name+'_summary_curtain').css('background-color','red');
  $('#'+name+'_summary_curtain').toggle();
}

function toggleAddParameter() {
  $('#addParameterDiv').toggle();
};

$(localinit);
</script>
<h2> {{ product.name }} </h2>

<table class='summary_table'>
{% for param in parameters %}

<tr id='{{ param.sname }}_summary_row'>
  <th class='st_bar'> 
    {{ param.category_parameter.name }} <br/>
    <a class='tinybtn' href="javascript:toggleCurtain('{{ param.sname }}');"> [Rate!] </a> 
  </th>
  <td class='st_bar' id='{{ param.sname }}_score'> {{ param.get_score }} (by {{ param.score_count}}) </td>
  <td  id='{{param.sname}}_taglist_neg' class='st_bar'> {% for tag in param.get_tags_neg %} <span class='tag_neg'>{{tag.tagtext}}</span> {% endfor %} </td>
  <td  id='{{param.sname}}_taglist_pos' class='st_bar'> {% for tag in param.get_tags_pos %} <span class='tag_pos'>{{tag.tagtext}}</span> {% endfor %} </td>
</tr>
<tr style='display: none;' id='{{ param.sname }}_summary_curtain' class='summary_curtain'>
  <th class='st_curtain'>  </th>
  <td class='st_curtain'>
    <form id='{{param.sname}}_rate' action='/rate_parameter'>
	  <input type="hidden" name='parameter_id' value='{{param.id}}'/>
      <select class='scoreselect' name='score'>
        <option value='none' selected='selected'>---</option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
      </select>
      <input class='scoresubmit' type='submit' value='Ok' name='submit'>
    </form>
  </td>
  <td class='st_curtain' style='white-space: nowrap;'>
        <form id='{{param.sname}}_neg' class='no_submit'>
          {% csrf_token %}
          {{ tagform.tagtext }}
          <input type='hidden' id='id_parameter' name='parameter' value='{{param.id}}'/>
          <input type='hidden' id='id_charge' name='charge' value='-1'/>
          <input class='tagsubmit' type='submit' value='+' name='submit'>
        </form>
  </td>
  <td class='st_curtain' style='white-space: nowrap;'>
        <form id='{{param.sname}}_pos' class='no_submit'>
          {% csrf_token %}
          {{ tagform.tagtext }}
          <input type='hidden' id='id_parameter' name='parameter' value='{{param.id}}'/>
          <input type='hidden' id='id_charge' name='charge' value='1'/>
          <input class='tagsubmit' type='submit' value='+' name='submit'>
        </form>
  </td>
</tr>
{% endfor %}
<tr>
  <th class='st_c1'> </th>
  <td class='st_c2'> </td>
  <td class='st_c3'> </td>
  <td class='st_c4'> </td>
</tr>
</table>

<br/>
<br/>


<a class='tinybtn' href='javascript:toggleAddParameter();'>[add parameter]</a>

<div id='addParameterDiv'>
<h2> Create a new Parameter </h2>
<form id='parameterform' action='/create_parameter' method='post'>
{% csrf_token %}
<p>Name:<br/>
{{ parameterform.name }}<br/>
<input name='category' type='hidden' value='{{product.category.id}}'/><br/>
<input name='product' type='hidden' value='{{product.id}}'/><br/>

<!--<a href='javascript:createParameter()' class='btn'> Submit </a>-->
<input type="submit" value="Create"/>
</p>
</form>
</div>




{% endblock %}

