{% extends 'base.html' %}

{% block content %}
    <h2>Products in Category {{category}}</h2>

  {% if user.is_authenticated %}
	<a class='discrete_btn' style='font-size: 9pt;' href="/edit_category{{category.slug}}"> [Edit category] </a> 
  {% endif %}
  {% if products %}
      <ul>
      {% for product in products %}
        <li><a href="/products{{product.slug}}">{{ product|escape }}</a></l1>
      {% endfor %}
      </ul>
  {% else %}
     <p>No products found for category {{category}}</p>
    
  {% endif %}

{% endblock %}

