{% extends 'base.html' %}
{% block title%} SemRate - Editing category: {{category.name}} {% endblock %}

{% block content %}

<h2> {{user_profile.username}} </h2>


<img style='width: 130px; height: 100px;' src='/site_media/{{user_profile.username}}.jpg'>
<br/>
<br/>

Number of tags: {{tagcount}} <br/>

<br/>
<br/>


{% if products %}
<h3>{{user_profile.username}} has rated following products:</h3>
<table>

{% for pair in products %}
<tr>
  <td>
	<a class='discrete_link' href='/products{{pair.product.slug}}'> {{pair.product.name}} </a>
	<span style='white-space: nowrap; font-size: 8pt;'>({{pair.product.category}})</span>
  </d>
<tr>

{% endfor %}

</table>
{% else %}
{{user_profile.username}} has not rated any products yet.
{% endif %}


{% endblock %}
